<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="guru" transaction-type="RESOURCE_LOCAL">

        <class>su.itschool.guru.entity.Teacher</class>
        <class>su.itschool.guru.entity.SchoolClass</class>
        <class>su.itschool.guru.entity.ClassLetter</class>
        <class>su.itschool.guru.entity.EducationalOrganization</class>
        <class>su.itschool.guru.entity.ClassLevel</class>
        <class>su.itschool.guru.entity.Subject</class>
        <class>su.itschool.guru.entity.LessonsPlanningItem</class>
        <class>su.itschool.guru.entity.GroupForLesson</class>
        <class>su.itschool.guru.entity.EducationalPeriod</class>
        <class>su.itschool.guru.entity.EductaionalYear</class>
        <class>su.itschool.guru.entity.Lesson</class>
        <class>su.itschool.guru.entity.LessonsGridTypeItem</class>
        <class>su.itschool.guru.entity.LessonsGridType</class>
        <class>su.itschool.guru.entity.LessonsGridForClassPerDayOfWeek</class>
        <class>su.itschool.guru.entity.MainGridItems</class>
        <class>su.itschool.guru.entity.TestEntity</class>
    </persistence-unit>
</persistence>
