<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="guru" transaction-type="RESOURCE_LOCAL">

        <class>su.itschool.guru.entity.Teacher</class>
        <class>su.itschool.guru.entity.SchoolClass</class>
        <class>su.itschool.guru.entity.EducationalOrganization</class>
        <class>su.itschool.guru.entity.Subject</class>
        <class>su.itschool.guru.entity.LessonsPlanningItem</class>
        <class>su.itschool.guru.entity.GroupForLesson</class>
        <class>su.itschool.guru.entity.EducationalYear</class>
        <class>su.itschool.guru.entity.Lesson</class>
        <class>su.itschool.guru.entity.LessonsGridType</class>
        <class>su.itschool.guru.entity.LessonsGridForClassPerDayOfWeek</class>
        <class>su.itschool.guru.entity.TimeTableTemplateItem</class>
        <class>su.itschool.guru.entity.TimeTableImport</class>
        <class>su.itschool.guru.entity.Room</class>
        <class>su.itschool.guru.entity.Block</class>
        <class>su.itschool.guru.entity.LessonsGridItem</class>
        <class>su.itschool.guru.entity.Week</class>
        <class>su.itschool.guru.entity.Holiday</class>
        <class>su.itschool.guru.entity.HolidayDate</class>
        <class>su.itschool.guru.entity.EducationalPeriod</class>
        <class>su.itschool.guru.entity.AcademicHolidays</class>
        <class>su.itschool.guru.entity.enums.GuruSettings</class>
        <class>su.itschool.guru.entity.SchoolClassMapping</class>
        <class>su.itschool.guru.entity.ThirdPartySystem</class>
        <class>su.itschool.guru.entity.GroupForIndividualPlanning</class>
    </persistence-unit>
</persistence>
